//-----------------------------------------------------------------
// Stylesheet: 1030px and down
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Grid/Layout
$wrapper-width: 768px !global;

.inner {
  @include fixed-wrap($wrapper-width);
}

.gap {
  display: none;
}

.sidebar {
  @include span(4);
}

//-----------------------------------------------------------------
// Header
.site-header {
}

//-----------------------------------------------------------------
// Navigation
.header-main {
  nav {
    ul {
      li {
        a {
          font-size: 0.9em;
          padding-top: 2.75em;
          padding-bottom: 2.75em;
        }
      }
    }
  }
}

